body{
    margin: 0;
    background-color: rgb(245,245,245);
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgb(63,63,63);
    overflow: auto;
}

.title{
    font-size: 100px;
    font-weight: 100;
    color: rgb(234,215,216);
    position: absolute;
    top: -40px;
    text-align: center;
    width: 100%;
}

footer .author{
    text-align: center;
    color: rgb(191,191,191);
    font-size: 8pt;
    margin: 30px auto;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.add-section input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: rgb(216,216,216);
}

.add-section input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: rgb(230,230,230);
}

.add-section input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: rgb(230,230,230);
}

.add-todo{
    padding: 10px 10px 10px 55px;
    border:none;
    width: 295px;
    font-weight: 300;
    line-height: 40px;
    font-size: 30px;
    color: rgb(85,85,85);
    border-radius: 0;
    margin: 0;
}

.checkbox{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
}

button,input[type="text"]:focus{
    outline: none;
}

.checkbox,.toggle-all{
    background: none;
    position: absolute;
    left: 2px;
    top: 6px;
    width: 30px;
    height: 30px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    outline:none
}
.list{
    max-height: 300px;
    overflow: auto;
}

.checkbox:after,.toggle-all:after {
    border: none;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="%23ededed" stroke-width="3"/></svg>');
}

.checkbox:checked:after,.toggle-all:checked:after {
    border: none;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="%23bddad5" stroke-width="3"/><path fill="%235dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}



section{
    text-align: center;
}

.add-section{
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    position: relative;
}

.list-item {
    position: relative;
    border-top: 1px solid rgb(238,238,238);
    background-color:white;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

}


.list-item-font {
    display: inline-block;
    width: 250px;
    padding-left: 50px;
    padding-top: 5px;
    min-height: 20px;
    font-size: 14pt;
    line-height: 10px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select:none;
    user-select:none;
}

.list-item.completed .list-item-font {
    color: rgb(187,187,187);
    text-decoration: line-through;
}

.list-item .delete {
    border: 0;
    cursor: pointer;
    color: rgb(234,215,216);
    background-color: transparent;
    width: 48px;
    height: auto;
    font-size: 20pt;
    line-height: 36px;
    border-radius:40px;
    padding-bottom: 5px;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select:none;
    user-select:none;
}

.edit-input{
    display: inline-block;
    width: 290px;
    height: 60px;
    margin-left: 50px;
    margin-right: 4px;
    min-height: 20px;
    font-size: 14pt;
    line-height: 45px;
    text-align: left;
    vertical-align: middle;
    font-family: inherit;
    font-weight: inherit;
    border: none;
}


.footer {
    background-color:white;
    width: 330px;
    color: rgb(119,119,119);
    padding: 10px 15px 50px 15px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px solid rgb(230,230,230);
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
}

button,.filter{
    margin: 0;
    padding: 6px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-user-select:none;
    user-select:none;
}

.active{
    line-height: 30px;
    -webkit-user-select:none;
    user-select:none;
}

.selected{
    border-color: rgba(175, 47, 47, 0.2);
}

.none{
    display: none;
}


.hidden{
    visibility: hidden;
}

.to-top{
    background: rgb(230,248,230);
}

.to-top .edit-input{
    background: rgb(230,248,230);
}